@tailwind base;
@tailwind components;
@tailwind utilities;
.filterOne {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.filterTwo {
  -webkit-filter: contrast(50%) hue-rotate(10deg);
  filter: contrast(50%) hue-rotate(10deg);
}

.filterThree {
  -webkit-filter: sepia(60%);
  filter: sepia(60%);
}

.filterFour {
  -webkit-filter: grayscale(100%) contrast(110%) brightness(130%);
  filter: grayscale(100%) contrast(110%) brightness(130%);
}
.zeroPadding {
  padding: 0;
}
.overlayOne {
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background-image: linear-gradient(
    to left bottom,
    #fe902a7e,
    #ff9d2e81,
    #b8ff457a,
    #ff435f7c,
    #eb127b8f
  );
}
.overlayTwo {
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background-image: url("https://i.pinimg.com/736x/85/50/fe/8550fe2433ff2ff562f170bd352bcd51.jpg");
  opacity: 30%;
  background-size: contain;
}
.overlayThree {
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background-image: url("https://t4.ftcdn.net/jpg/02/46/18/43/360_F_246184388_B3Zv1TMtj42uBOltW0k9Bthy48S1AmsB.jpg");
  mix-blend-mode: multiply;
  background-size: contain;
}
.imgContainer {
  padding: 20px;
  height: 100px;
  width: 100px;
  background-size: cover;
  color: white;
  box-shadow: 0px 0px 60px 50px rgba(0, 0, 0, 0.281);
  border-radius: 15px;
}
.overlayContainer {
  height: 100px;
  width: 100px;
  background-size: cover;
  color: white;
  box-shadow: 0px 0px 60px 50px rgba(0, 0, 0, 0.281);
  border-radius: 15px;
}
.mainPhoto {
  height: 500px;
  width: 500px;
  box-shadow: 0px 0px 80px 50px rgba(0, 0, 0, 0.651);
}
i {
  cursor: pointer;
}
i:hover {
  filter: drop-shadow(0px 12px 12px black);
}
