body {
  margin: 0;
  width: 100vw;
  max-width: 100%;
}
.App {
  max-width: 100%;
}

.filtersContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  //   right: 100px;

  .imgContainer {
    padding: 20px;
    height: 100px;
    width: 100px;
    background-size: cover;
    color: white;
    box-shadow: 0px 0px 60px 50px rgba(0, 0, 0, 0.281);
    border-radius: 15px;
    h3 {
      text-shadow: 1px 1px black;
    }
  }
}
.fa-sliders-h,
.fa-cogs {
  position: absolute;
  top: 150px;
  font-size: 20px;
  color: rgb(31, 29, 36);
  left: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 50%;
}
.fa-cogs {
  top: 250px;
}
.fa-camera-retro {
  font-size: 50px;
  line-height: 150%;
  color: grey;
  transition: 0.3s;
  &:hover {
    color: black;
    transition: 0.3s;
  }
}
.mainContainer {
  background-color: rgb(31, 29, 36);
  padding: 50px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  max-width: 100%;

  .mainPhoto {
    height: 500px;
    width: 500px;
    object-fit: cover;
    box-shadow: 0px 0px 60px 50px rgba(0, 0, 0, 0.281);
  }
}
.toolOptions {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  top: -400px;
  right: 100px;
}
.filterOne {
  filter: grayscale(100%);
}
.filterTwo {
  filter: contrast(50%) hue-rotate(10deg);
}
.filterThree {
  filter: sepia(60%);
}
.filterFour {
  filter: grayscale(100%) contrast(110%) brightness(130%);
}

@media screen and (max-width: 1060px) {
  .filtersContainer {
    width: 100px;
  }
}
